prepare.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="urn:nonstandard:notification"
           targetNamespace="urn:nonstandard:notification">
    <xsd:element name="prepare">
        <xsd:complexType>
            <xsd:sequence>
                <!-- SERVER ID -->
                <xsd:element name="serverId" type="xsd:int" />
                <!-- PROPOSAL NUMBER -->
                <xsd:element name="proposalNumber" type="xsd:int" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>